.DS_Store
node_modules
.svelte-kit
/build
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*

# Server Files

server.js
sockets.js
chat.js
app.js

# Local Netlify folder
.netlify

~$ACodingCompetition2024.docx